@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1199px) {
    .nav-link {
        /* color: #ffffff !important; */
        letter-spacing: 0.2px;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    .sectionOneLeft h2 {
        font-size: 68px;
        line-height: 76px;
    }
    .sectionOneLeft p {
        font-size: 18px;
        line-height: 32px;
    }
    .sectionOne {
        padding: 35px 0;
        position: relative;
    }
    .subServices {
        padding: 35px 0;
        position: relative;
    }
    .subServices h2 {
        font-size: 68px;
        line-height: 76px;
    }
    .subServicesRight img {
        max-width: 100%;
        margin-top: 50px;
    }
    .sectionTwo {
        padding: 35px 0;
    }
    .text-style h2 {
        font-size: 50px;
    }
    .para-style {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    .videoStyle {
        padding-top: 20px;
    }
    .services {
        padding: 35px 0;
    }
    .servicesBgRight {
        position: absolute;
        left: -30px;
        bottom: 59%;
    }
    .servicesBg h2 {
        font-size: 50px;
    }
    .our-clients h2 {
        color: #ffffff;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 50px;
        font-weight: 800;
        line-height: 60px;
    }
    .circleIcon {
        position: absolute;
        right: 0;
        top: 40px;
        max-width: 100%;
        width: 70px;
    }
    .line-two {
        position: absolute;
        top: 15px;
        left: 50px;
        width: 70px;
        max-width: 100%;
    }
    .clients {
        padding: 35px 0;
    }
    .sectionFive-align h2 {
        font-size: 50px;
        font-family: 'Lexend Deca', sans-serif;
        color: #ffffff;
        line-height: 60px;
        font-weight: 700;
        width: 708px;
    }
    .contactUs {
        padding: 46px 0;
    }
    .contactUs {
        background: rgba(30, 30, 32, 0.5);
        padding: 40px 0;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .link-styles ul li {
        display: inline-block;
        padding: 5px 20px;
    }
    .copy-right p {
        font-size: 12px;
        line-height: 20px;
    }
    .footer-bg {
        padding: 25px 0;
    }
    .logo {
        max-width: 85%;
        margin: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-align-one-style h2 {
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 38px;
        color: #ffffff;
        padding: 20px 0;
        margin: 0 auto;
    }
    .col-align-one-style p {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 26px;
        width: 100%;
        margin: 0 auto;
    }
    .padding-space {
        padding: 5px;
    }
    .aboutAddressLeft h6 br {
        display: none;
    }
    .subServicesPages h2 {
        font-size: 45px;
        line-height: 60px;
        padding-top: 25px;
    }
    .subServicesPages a {
        font-size: 18px
    }
    .subServicesPages span {
        font-size: 18px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        padding: 15px 0 15px 0;
    }
    .nav-link {
        text-align: center;
    }
    .order-first {
        order: -1 !important;
    }
    .contactBorder {
        margin-top: 40px;
    }
    .sectionFive-align h2 {
        width: 75%;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 50px;
    }
    .circle-left img {
        position: absolute;
        left: 25px;
        top: -35px;
        max-width: 100%;
        width: 40px;
    }
    .col-align-one-style p {
        width: 100%;
    }
    .sectionOneLeft {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .sectionOneLeft h2 {
        font-size: 55px !important;
        line-height: 70px !important;
    }
    .text-style h2 {
        font-size: 45px;
    }
    .videoPlayBtn {
        position: absolute;
        width: 75px;
        height: 75px;
        background: #5454D4;
        border-radius: 100%;
    }
    .videoPlayBtn span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 26px;
    }
    .sectionThreeBgRight {
        position: absolute;
        left: -69px;
        bottom: 59%;
    }
    .sectionThreeBg h2 {
        font-size: 40px;
        padding-bottom: 15px;
    }
    .col-align-one-style h2 {
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: #ffffff;
        padding: 20px 0;
        margin: 0 auto;
    }
    .col-align-one-style p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }
    .padding-space {
        padding: 5px;
    }
    .our-clients h2 {
        color: #ffffff;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
    }
    .col-align-style img {
        max-width: 100%;
        cursor: pointer;
    }
    .circleIcon {
        position: absolute;
        right: 0;
        top: 40px;
        max-width: 100%;
        width: 60px;
    }
    .line-two {
        position: absolute;
        top: 15px;
        left: 50px;
        max-width: 100%;
        width: 60px;
    }
    .navBorder {
        border: 1px solid #ffffff;
        border-radius: 5px;
        /* margin-left: 20px; */
        padding-left: 35px !important;
        padding-right: 35px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #navbarNav {
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #19191B;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
        height: 100vh;
    }
    .link-styles ul li {
        display: block;
        padding: 6px 20px;
    }
    .mapPadding {
        margin-bottom: 35px;
    }
    .contact-footer {
        padding-bottom: 40px;
    }
    .aboutAddressLeft {
        margin-bottom: 20px;
    }
    .modal.modal-bottom .modal-body {
        height: 100vh;
    }
    .menu_icon {
        z-index: 11;
    }
    .navbar-nav {
        padding-top: 100px;
    }
    .subServicesPages h2 {
        font-size: 35px;
        line-height: 50px;
        padding-top: 25px;
    }
    .subServicesPages a {
        font-size: 18px
    }
    .subServicesPages span {
        font-size: 18px;
    }
    .subServicesPages p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .schedule-video-style a {
        margin: 30px auto 0;
    }
    .link-styles {
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sectionSeven {
        padding: 50px 0;
    }
    .sectionSix,
    .sectionFour,
    .sectionThree,
    .sectionOne {
        padding: 50px 0;
    }
    .sectionThreeRight {
        padding-left: 15px;
    }
    .sectionThreeLeft {
        padding-top: 50px;
    }
    .border-left h1 {
        margin-top: 40px;
    }
    .footer-bg img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .address-style ul {
        float: none;
    }
    .list-style {
        padding: 6px 0;
    }
    .sectionThreeBgRight {
        position: absolute;
        left: -20px;
        bottom: 59%;
    }
    .sectionThreeBg h2 {
        font-size: 30px;
        padding-bottom: 15px;
    }
    .sectionFive-align h2 {
        width: 100%;
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 50px;
    }
    .link-styles ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .sectionThreeBgRight {
        position: absolute;
        left: -10px;
        bottom: 90%;
        width: 60px;
    }
    .col-align-style {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 5px;
    }
    .col-align-style img {
        max-width: 100%;
        cursor: pointer;
        width: 50%;
    }
    .mapPadding {
        margin-bottom: 35px;
    }
    .modal.modal-bottom .modal-dialog {
        position: static;
        margin: auto;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .subServices p {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 599px) {
    .contact-us {
        padding: 50px 0;
    }
    .subServicesRight img {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 479px) {
    .navbar-brand {
        margin-right: 0;
    }
    .navbar-brand img {
        width: 80%;
    }
    .list-style li {
        font-size: 12px;
    }
    .sectionOneLeft {
        padding-top: 22px;
    }
    .sectionOneLeft p,
    .sub-para-style p,
    .sectionThreeRight p,
    .section-para-style p,
    .sectionFive p,
    .footer-bg p,
    .link-styles ul li a {
        font-size: 14px;
    }
    .border-left h1,
    .sectionThreeRight h2,
    .what-can-i-do h2,
    .contactBorder h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .subServices h2 {
        font-size: 50px;
        line-height: 59px;
    }
    .subServices a {
        font-size: 15px;
        display: block;
    }
    .subServices p {
        font-size: 16px;
        line-height: 30px;
    }
    .sectionSevenLeftIn form input {
        font-size: 13px;
    }
    .modal.modal-bottom .modal-dialog {
        position: static;
        margin: auto;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .contact-footer p,
    .aboutAddressLeft h6 {
        font-size: 16px;
        line-height: 30px;
    }
    .space-block h2 {
        padding-left: 42px;
    }
    .space-block p {
        font-size: 42px;
        padding-left: 46px;
        line-height: 60px;
    }
    .our_methods h3 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 12px;
    }
    .terms p,
    .terms ol li,
    .terms ul li {
        font-size: 16px;
        line-height: 36px;
    }
    .terms h2 {
        font-size: 20px;
    }
    .subServicesPages h2 {
        font-size: 30px;
        line-height: 40px;
        padding-top: 25px;
    }
    .subServicesPages a {
        font-size: 18px
    }
    .subServicesPages span {
        font-size: 18px;
    }
    .subServicesPages p {
        font-size: 18px;
    }
}